@font-face {
    font-family: Raleway;
    /*font-style: normal;
    font-weight: 400;*/
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Billabong;
    /*font-style: normal;
    font-weight: 400;*/
    src: url(../fonts/Billabong.ttf);
}
body{
    font-family: Raleway;
    background-image: url("../images/tumblr_oiwytwMDKF1tf8vylo1_1280.png");
    background-repeat: no-repeat;
    background-size: cover;
}
input{
    font-family: Raleway;
}

#welcome{
    margin-bottom: 30px;
    font-family: Billabong;
    font-size: 45pt;
    color:white;
}
#email {
    height: 55px;
}

#password {
    /*margin-top: 10px;*/
    height: 55px;
}
#username{
    /*margin-top: 10px;*/
    height: 55px;

}
#fullName{
    /*margin-top: 10px;*/
    height: 55px;

}
#register{
    margin-top: 10px;
    border-radius: 30px;
    width:100%;
    /*background-color: #6c59b4;*/
    border: none;
    color:black;
    background-color: white;
    height:55px;
}
.container{
    text-align: center;
}
.outer-container{
    width: 400px;
    height: 400px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.errorMessage{
    color:white;
}
a{
    color: white;
    text-decoration: none;
}
.help-block{
    color:white;
}
